/* * {
    margin: 0;
    padding: 0;
} */


body {

    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    font-weight: normal;
    font-family: "Roboto", sans-serif;

}
a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
 a:active {
    color: blue;
 }
a:visited {
    color: grey;
}
.suba {
    width: 300px;
    border-radius: 20px;
}

.shurik {
    width: 300px;
    border-radius: 20px;
    box-shadow: 16px 16px 24px rgba(0, 0, 0, 52);
}
.info {
    display: flex;
    margin-bottom: 20px;
}
.info-text {
    margin-left: 40px;
    padding-top: 20px;

}
.info-text h4 {
    margin-bottom: 10px;
}

.info p {
    color:#86898f;
    margin: 0;
    font-style: italic ;
    font-weight: bold;
    text-decoration: none;
    /* text-transform: lowercase; */
    /* letter-spacing: 5px; */
    /* word-spacing: 50px; */

    
}
/* box model */
.container{
    max-width: 750px;
    margin: auto;
    padding-top: 20px;
}

/* .social {
    background: green;
    /* padding: 15px; */
    /* padding: 15px 40px; */
    /* padding: 15px 20px 25px 30px; */
    /* padding-top: 15px;
    padding-bottom:20px ;
    padding-left: 25px;
    padding-right:30px ;
    margin: 20px;

    border: 5px solid red;
    border-bottom-style:dotted ;
    border-top-width: 15px ; */
    
/* } */ 
/* .box-model > div {
    float: left;
    background-color: black;
    height: 200px;
    border: 4px solid red;
    width: 25%;
box-sizing: border-box;
} */

.bg-yellow {
    background: #fff9dc;
}
.bg-green {
    background: #e5ffe7;
}
.bg-red {
    background: #ffe5e5;
}
.bg-purple {
    background: #ffb6c1;
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.info {
    margin-bottom: 20px;
}
@media (max-width:700px) {
    .info {
        display: block;
        text-align: center;
    }
}

.card h2 {
    margin-bottom: 10px ;

}
.list {
    padding: 0px 20px;
    
}
.list li {
    color: #86898f;
    margin-bottom: 10px;
}
.table {
    width: 100%;
}
.table td {
    padding-bottom: 10px;
}
.table td:nth-child(3),
.table td:nth-child(2) {
    color: #86898f;
}
/* .table tr:nth-child(even) {
    background: red;
} */
.link-list {
    list-style: none;
    padding: 0;
}
.link-list li {
    margin-bottom: 10px;
    padding-bottom: 5 px;
    border-bottom: 1px solid #ccc;
}
.contact h2 {
    text-align: center;
}
.form-group label {
    display: block;
    font-size: 14px;
    color: #86898f;
}
.form-group textarea,
.form-group input {
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
    color: black;
    padding: 15px 0 10px;
    outline: none;
    font-family: inherit;

}
.row {
    display: flex;
    margin-bottom: 20px;
}

.row > .form-group {
    width:50% ;
    margin-right: 20px;
}
.row > .form-grou:last-child {
    margin-right: 0;
    
}
.btn {
    background-color: #111;
    padding: 15px 20px;
    color: #fff;
    border: none;
    font-family: inherit;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.9;
}
/* position */
/* .position {
    position: relative;
    border: 4px solid black;
    margin-top: 40px;
    padding: 20px;
    height: 300px;
}

.box {
   position: fixed ;
    right: 50px;
   top: 0px;
   width: 50px;
   height: 50px;
   background-color: lightcoral; 
} */